.title {
    color: green;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 1100px) {
    body {
    background-color: #161238;
    color: white;
    padding: 15px;
    margin-left: 1%;
    margin-right: 1%;
  }
}

h1 {
  color: white;
  font-family: "JetBrains Mono", monospace;
}

h2 {
  color: #ffbb55;
  font-family: "JetBrains Mono", monospace;
}

h3 {
  color: #ffddaa;
  font-family: "JetBrains Mono", monospace;
}

p {
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  overflow-wrap: anywhere;
}

.code {
  margin-left: 15px;
}

.codeComment {
  margin-left: 7px;
  color: #57527e;
  font-size: 14px;
}

small {
  font-family: "JetBrains Mono", monospace;
  font-size: 12px;
  color: #8f8f8f;
}

hr {
  color: #303057;
}

.codebox {
  /*width: 90%;*/
  background-color: #0a0a27;
  border: 2px solid #303057;
  padding: 8px;
}

.info {
  /*width: 90%;*/
  background-color: #11004f;
  border: 3px solid #310098;
  border-radius: 10px;
  padding: 4px;
  align-content: center;
}

.warning {
  /*width: 90%;*/
  background-color: #420023;
  border: 3px solid #d80050;
  border-radius: 10px;
  padding: 4px;
  align-content: center;
}

em {
  color: #ff88b8;
}

button {
  background: none;
  color: #ff88b8;
  font-size: medium;
  border: none;
}
